*{
    font-family: verdana;
    margin: 0;
    box-sizing: border-box;
    
}


.logo1{
    margin-left: 10px;
    color: #C996FF;

}
.logo2{
    color: #FFFFFF;
}
header{
    
    display: flex;
    align-items: center;
    background-color: #5711B9;
    width: 100%;
    height: 50px;
    
    
}


main{
    background-color: #161414;
    width: 100%;
    height: 914px;
    display: flex;
    min-height: 914px;
    flex-wrap: wrap;
}

#container1{
    
    width: 35%;
    height: 800px;
    min-width: 250px;
    
}
#container2{
    
    width: 30%;
    height: 800px;
    min-width: 250px;
    
}
#container3{
    
    width: 35%;
    height: 800px;
    min-width: 250px;
    position: relative;
}


#div1{
    
    display: flex;
    align-items: center;
    background-color: #5711B9;
    width: 80%;
    height: 500px;
    border: 1px solid #5711B9;
    border-radius: 35px;
    margin-top: 50px;
    margin: 50px auto 0;
    justify-content: center;
    color: #C996FF;


}

#div2{
    width: 80%;
    height: 340px;
    background-color: #5711B9;
    border: 1px solid #5711B9;
    border-radius: 35px;
    margin-top: 50px;
    margin: 50px auto 0;

}
#kolo{
    
    display: flex;
    width: 200px;
    height: 200px;
    margin:auto;
    margin-top: 20px;

    border-radius: 50%;
    
    
    background-color: #391171;

}

#wheel{
    width: 70%;
    height: 40px;
    background-color: #391171;
    border-radius: 10px;
    margin:auto;
    margin-top: 5%;
}

#krec{
    color: white;
    width: 60%;
    height: 30px;
    background-color: #9d60de;
    margin: 5% auto 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ulepsz {
    margin: 0;
    
}

#div3{
    width: 70%;
    height: 150px;
    background-color: #5711B9;
    margin: 10% auto 0;
    
    border-radius: 20px;

}
#text4{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
#text2{
    color: #C996FF;
    font-size: 20px;
    
   
    
}
#text3{
    font-size: 20px;
    color: #FFFFFF;
    
}

#balance{
    width: 60%;
    height: 50px;
    background-color: #391171;
    border-radius: 25px;
    margin: 15px auto 0;

}
#div4{
    float: left;
    display: flex;
    align-items: center;
    background-color: #5711B9;
    width: 80%;
    height: 500px;
    border: 1px solid #5711B9;
    border-radius: 35px;
    margin-top: 50px;
    margin: 50px auto 0;
    justify-content: space-between;
    color: #C996FF;


}

.curentitem{
    
    align-self: flex-start;
    margin-top: 20px;

}


#menu{
    
    
    width: 20px;
    height: 600px;
    background-color: green;
    margin-top: 150px;
    position: absolute;
    margin-left: 98.9%;
    display: block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
    
    
}
#menu2{
    

    width: 130px;
    
    height: 600px;
    background-color: red;
    margin-top: 150px;
    position: absolute;
    margin-left: 93%;
    display: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
  
    

}


